h1{
    color:#0b525b;
    text-align: center;
}
p{
    color: white;
    background-color: #04151f;
    padding: 15px; 
    border: 10px solid #212f45;
    /*margin-top: 40px; 
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;*/
    /*margin: 40px 10px 20px 10px*/
    margin:auto 50px;
    text-align:center;

}