h1{
    color: #1d3557;
}
ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow:hidden; /*muestra de manera independiente la lista*/
    margin: 0;
    padding: 0;
}
li{
    float: left; /*los elementos flotan de izq a derecha (horizontal)*/
}
li a{
    display: block;
    color: white;
    text-align: center; /*centra el texto*/
    padding: 15px; /*separa 15px de cada uno*/
    text-decoration: none; /*saca el subrayado de los links*/
    }
    li a:hover{
        background-color: #1d3557; /*hover es para cuando pasamos por arriba el puntero*/
    }
    