html{
    height: 100%;
}
body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(#264653, #3f3f3f); /*fondo en degrades de arriba para abajo*/
}
.contenedor{
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(0,0,0, .3);
    border-radius: 10px;
}
.contenedor h2{
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #0ead69;
    text-align: center;
}
.contenedor .elemento label{
    color: #0ead69;
}
.contenedor .elemento input{
    font-weight: bolder;
    width: 100%;
    padding: 10px 0;
    background: transparent; /*fondo*/
    border: 1; /*bordes*/
    border-bottom: #adb5bd 1px solid;/*bordes del las cajas de usuario*/
    margin-bottom: 30px; /*margen inferior para separar los input*/
}
.contenedor .elemento input[type="submit"]{
        background: #0ead69;
        border: none;
        letter-spacing: 1px; /*separa las letras*/
        text-transform: uppercase; /*pone el texto en mayuscula*/
        cursor: pointer; /*pone el cursor como una manito*/
        margin-top: 30px;
}
