table{
    width: 100%; /*ancho de table*/
}
table, th, td{
     border: 1px solid black;
     border-collapse: collapse;
     /*border-spacing: 5px;*/
     padding: 5px; /*espacios entre bordes*/
}
caption{
    color: #e63946;
    font-family: "Trocchi", serif; /*tipo de fuente para la letra*/
    font-size: 45px; /*tamaño de letra*/
    line-height: 70px; /*Es el espacio y ancho que queda en el encabezado*/
}
th{
    color: #f1faee;
    background-color: #1d3557;

}
/*tr:nth-child(even) trabaja con los renglones pares*/
tr:nth-child(even){
    background-color: #f1faee;
}
/*tr:nth-child(odd) trabaja con los renglones impares*/
tr:nth-child(odd){
    background-color: #a8dadc;
}
/*
td{
    text-align: center; 
}*/
