h1{ 
    text-align: center;
    color:#2a9d8f;
}
a:link, a:visited{
    background-color:#264653;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none; 
    display: inline-block; /*Esto hace que no se encimen los cuadros*/
}
a:hover, a:active{
    background-color:#f72585;
}
body{
    background-color:black;
}
p{  
    background-color: turquoise;
    color: white;
}